  <h1 class="p-4">Thank you for your Order, <%= @user_profile.first_name %>! </h1>
  <h4 class="p-4">You'll find your order details along with a link to download your application</h4>
  <h2 class="p-4">Your Order number is: <%= @order.id %></h2>
  <div class="container bg-light">
    <div class="row">
      <div class="col">
        <p class="text" style="margin-top: 60px;"><%= @app.name %> </p>
      </div>
      <div class="col">
        <p class="text" style="margin-top: 60px;"> <%= number_to_currency(@app.price) %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <p class="text"> <%= number_to_currency(@app.price) %> </p>
       </div>
      </div>
  </div>
    <h2>Your Download Link</h2>
    <div class="card card-med m-4">
      <div class="card-body">
        <p class="text"><%= @generated_download_link %> </p>
      </div>
</div>
      </div>
    </div>
  </div>