<div class="con-med border border-info rounded p-3">
<h1>Edit a Listing</h1>
<%= form_for @app, url: {action: "update"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Short_Description %>
    <%= f.text_field :blurb, maxlength: 60, class: 'form-control' %>
  </div>
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
    <%= f.text_field :price, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :Extended_Description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Any_Additional_Screenshots? %>
    <%= f.file_field :images, multiple: true, class: 'form-control-file' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class:'btn btn-primary' %>
    <%= link_to 'Delete', app_path(@app.id), :method => :delete, :class => "btn btn-primary", :data => { confirm: "Are you sure?" } %>
  </div>
<% end %>
  </div>
</div>