<h1>App Library</h1>
<% @apps.each do |app| %>
<div>
<ul>
<li><%= app.name %></li>
<li><%= app.description %></li>
<li><%= app.price %></li>
<li><%= app.store.name %></li>
<li> <%= link_to 'Show Listing', app_path(app.id) %> </li>
<% if app.store.user == current_user %>
<li> <%= link_to 'Edit Listing', edit_app_path(app.id) %></li>
<% end %>
</ul>
<% end %>
</div>