<h1>Create a listing</h1>
<div>
<%= form_for @app, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Short_Description %>
    <%= f.text_field :blurb, maxlength: 60, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :App_Icon %>
    <%= f.file_field :icon, class: 'form-control-file' %>
  </div>
  <div class="form-group">
    <%= f.label :Extended_Description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :App_Screenshots %>
    <%= f.file_field :images, multiple: true, class: 'form-control-file' %>
  </div>
  <div>
    <%= f.submit "Submit App", class:'btn btn-outline-success' %>
  </div>
<% end %>
</div>
