<!-- <h1>Create a Listing</h1>
<div>
  <form action="<%= apps_path %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <div>
      <label>Name</label>
      <input type="text" name="name" />
    </div>
    <div>
      <label>Short Description (Blurb)</label>
      <input type="text" name="blurb" />
    </div>
    <div>
      <label>Price</label>
      <input type="text" name="price" />
    </div>
    <div>
      <label>App Icon<label>
        <input type="file" name="icon">
      </div>
      <div>
        <label>Extended Description</label>
        <input type="text" name="description">
      </div>
      <div>
      <label>App Screenshots<label>
        <input type="file" name="images[]" multiple="multiple">
      </div>
      <div>
        <input type="submit" value="Create" />
      </div>
    </form>
  </div> -->

<h1>Create a listing</h1>
<div>
<%= form_for @app, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Short_Description %>
    <%= f.text_field :blurb, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :App_Icon %>
    <%= f.file_field :icon, class: 'form-control-file' %>
  </div>
  <div class="form-group">
    <%= f.label :Extended_Description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :App_Screenshots %>
    <%= f.file_field :images, multiple: true, class: 'form-control-file' %>
  </div>
  <div>
    <%= f.submit "Submit App", class:'btn btn-outline-success' %>
  </div>
<% end %>
</div>
