<div class="con-med border border-primary rounded p-3">
<<<<<<< HEAD
<h1 class="text-center mb-4">Create a New App Listing</h1>
=======
<div class="text-center">
  <h1 class="text-center mb-4">Create a New App Listing</h1>
  <hr>
</div>
>>>>>>> 35216fdcbfce6a9a8a99befb8a980fa1162f9171
<%= form_for @app, url: {action: "create"} do |f| %>
  <div class="form-group mb-4">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Your App Name' %>
  </div>
  <div class="form-group mb-4">
    <%= f.text_field :blurb, class: 'form-control', placeholder: 'Short Description' %>
  </div>
  <div class="form-group mb-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">$</div>
    </div>
      <%= f.text_field :price, class: 'form-control', placeholder: 'Price' %>
  </div>
  </div>
  <div class="form-group mb-4">
    <%= f.label :Your_App_Icon %>
    <%= f.file_field :icon, class: 'form-control-file' %>
  </div>
  <div class="form-group mb-4">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Extended Description' %>
  </div>
  <div class="form-group mb-4">
    <%= f.label :App_Screenshots %>
    <%= f.file_field :images, multiple: true, class: 'form-control-file' %>
  </div>
  <div>
    <%= f.submit "Submit App", class:'btn btn-primary' %>
  </div>
<% end %>
</div>
