<div class="container-column">
  <div class="image-container">
      <img src="https://semantic-ui.com/images/wireframe/image.png" width="64" />
  </div>
  <div class="main-header">
    <h1><%= @app.name %> <span>by <%= @app.store.name %></span></h1>
    <h2><%= @app.description %></h2>
    <h2><%= number_to_currency(@app.price) %></h2>
    <%= render "layouts/shared/stripe_form" %>
  </div>
</div>
<div class="container">
  <p><%= @app.description %></p>
</div>
<div class="container-column">
  <div class="image-container">
    <img src="https://semantic-ui.com/images/wireframe/image.png" width="64" />
  </div>
  <div class="image-container">
    <img src="https://semantic-ui.com/images/wireframe/image.png" width="64" />
  </div>
  <div class="image-container">
    <img src="https://semantic-ui.com/images/wireframe/image.png" width="64" />
  </div>
</div>