<div class="container-column">
  <div class="image-container">
    <% if @app.icon.attached? %>
      <%= image_tag @app.icon %>
    <% end %>
  </div>
  <div class="main-header">
    <h1><%= @app.name %> <span>by <%= @app.store.name %></span></h1>
    <h2><%= @app.description %></h2>
    <h2><%= number_to_currency(@app.price) %></h2>
    <%= render "layouts/shared/stripe_form" %>
  </div>
</div>
<div class="container">
  <p><%= @app.description %></p>
</div>
<div class="container-column">
  <div class="image-container">
    <% @app.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </div>
  <div class="container">
    <% if @app.store.user == current_user %>
    <%= link_to 'Delete Listing', app_path(@app.id), :method => :delete, :class => "btn btn-outline-danger" %>
    <% end %>
</div>