<div class="container-rows">
  <div class="image-container-top">
    <% if @app.icon.attached? %>
    <%= image_tag(@app.icon, :size =>"80x80") %>
    <% end %>
  </div>
  <div id="headlines-container">
    <span class="subtitle" style="letter-spacing: 4px;"><%= @app.store.genre %></span>
    <h1 class="text-hero"><%= @app.name %> <span class="subtitle">by <%= @app.store.name %></span></h1>
    <h5 class="text-hero"><%= @app.blurb %></h5>
    <h2><%= number_to_currency(@app.price) %></h2>
    <% unless current_user.store.present? %>
      <%= render "layouts/shared/stripe_form" %>
    <% else %>
      <% unless current_user.store.apps.include?(@app) %>
        <%= render "layouts/shared/stripe_form" %>
      <% end %>
    <% end %>
    </div>
  </div>
    <div class="container-column">
    <div>
   <h3>About <%= @app.name %></h3>
   <p class="desc"><%= @app.description %></p>
    </div>
  
  <div class="image-container-top m-2">
    <h3>App Screenshots</h3>
    <% @app.images.each do |image| %>
    <%= image_tag(image, :size =>"180x260") %>
    <% end %>
  </div>
  <div class="container">
    <% if @app.store.user == current_user %>
    <%= link_to 'Edit Listing', edit_app_path(@app.id), :class => "btn btn-primary float-left"  %>
    <%= link_to 'Delete Listing', app_path(@app.id), :method => :delete, :class => "btn btn-danger float-right", :data => { confirm: "Are you sure?" } %>
    <% end %>
</div>